extends layout.pug

block content
  .jumbotron
    form(name='forgotPwForm' method='POST')
      legend Si olvidaste tu contrase침a, ingresa tu correo electr칩nico.
      .form-group
        label(for='email') Ingresa tu correo electr칩nico:
        input.form-control(type='email', name='email', value='', placeholder='Correo electr칩nico', autofocus=true required)
      span(id='message')
        p(class='font-weight-bold text-danger')

      .form-group
        button.btn.btn-primary(id='forgotPw-button' type='button') Enviar instrucciones
